body{
    padding: 0;
    margin: 50px auto;
    background-color: rgba(0,0,0,0.1);
    font-family: 'Titillium Web', sans-serif;
    background: #9CECFB;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #0052D4, #65C7F7, #9CECFB);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #0052D4, #65C7F7, #9CECFB); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.container{
    width:380px;
    margin:0 auto;
    box-shadow: 3px 4px #888888;
    border-radius: 0% 3% 0% 0%;
}

.header{
    width: 380px;
    height:200px;
    background-image: url("../img/bg1.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: -650px;
    background-position-x: -50px;
    border-radius: 15px 15px 0 0;
    position: relative;
}

/* refresh button */
#clear{
    width : 30px;
    height: 30px;
    position: absolute;
    right:10px;
    top: 20px;
}
#clear i{
    font-size: 25px;
    color: #FFF;
}
#clear i:hover{
    cursor: pointer;
    text-shadow: 1px 3px 5px #000;
    transform: rotate(60deg);
}
#date{
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: #FFF;
    font-size: 30px;
    font-family: 'Titillium Web', sans-serif;
}

#add-icon:hover {
    transform: scale(1.2, 1.2)
}
.content{
    width:380px;
    height: 350px;
    max-height:350px;
    background-color: #FFF;
    overflow: auto;
}
.content::-webkit-scrollbar { 
    display: none; 
}
.content ul{
    padding:0;
    margin:0;
}
.item{
    width:380px;
    min-height: 45px;
    position: relative;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    list-style: none;
    padding: 0;
    margin: 0;
    display: block;
    word-wrap: break-word;
}
.item p{
    position: relative;
    padding:0;
    margin:0;
    font-size: 20px;
    left:50px;
    top:5px;
    background-color: #FFF;
    max-width:285px;
    margin: 5px 0;
}

.item i.co{
    position: absolute;
    font-size: 25px;
    padding-left:5px;
    left:15px;
    top:10px;
}

.item i.co:hover{
    cursor: pointer;
}
.fa-check-circle{
    color:#4162f6;
}


.lineThrough{
    text-decoration: line-through;
    color : #ccc;
}

.item:hover{
    outline: 1px solid #4162f6;
}

.item i.de{
    position: absolute;
    font-size: 25px;
    right:15px;
    top:10px;
}
.item i.de:hover{
    color:#af0000;
    cursor: pointer;
}

.add-to-do{
    position: relative;
    width: 360px;
    height:40px;
    background-color: #FFF;
    padding: 10px;
    border-top: 1px solid rgba(0,0,0,0.1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}


.add-to-do i{
    position: absolute;
    font-size: 40px;
    color: #4162f6;
}

.add-to-do input{
    position: absolute;
    left: 50px;
    height: 35px;
    width: 310px;
    background-color: transparent;
    font-size: 20px;
    padding-left:10px;
    border: none;
    outline: none;
    background-color: rgba(221, 221, 221, 0.281);
    color: #0052D4;
}


.add-to-do input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #4162f6;
    font-family: 'Titillium Web', sans-serif;
    font-size: 20px;
}
.add-to-do input::-moz-placeholder { /* Firefox 19+ */
    color: #4162f6;
    font-family: 'Titillium Web', sans-serif;
    font-size: 20px;
}
.add-to-do input:-ms-input-placeholder { /* IE 10+ */
    color: #4162f6;
    font-family: 'Titillium Web', sans-serif;
    font-size: 20px;
}
.add-to-do input:-moz-placeholder { /* Firefox 18- */
    color: #4162f6;
    font-family: 'Titillium Web', sans-serif;
    font-size: 20px;
}


/* Mouaz - Al-Kassm */





























